<div id="<%= dom_id team %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Descripcion:</strong>
    <%= team.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Jefe:</strong>
    <%= team.boss_id %>
  </div>
</div>
